@font-face {
    font-family:'Yoon';
    src:url('fonts/온글잎 의청수 윤영체.txt');
    src:url('fonts/온글잎 의청수 윤영체.txt') format('txt'),url('fonts/온글잎 의청수 윤영체.png') format('png'),url('fonts/Ownglyph_2022_UWY_Yoon_Yeong-Rg.ttf') format('truetype');
    font-weight:normal;
    font-style: normal;
}


.form{
    font-family: Yoon;
    padding-top: 5%;
    font-size: large;
    text-align: center;
}
.dateTitle>input{
    width: 800px;
}
.dateAddress>input{
    width: 800px;
}
/*.date-form-text{*/
/*    text-align: left;*/
/*}*/
.dateContent>textarea{
    width: 800px;
    height: 500px;
}
.upload-form-hashtag>input{
    width: 600px;
}
.text-center2{
    padding-top: 3%;
    padding-left: 10%;
}
.btn-submit{
    font-size: x-large;
}
