<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <header id="masthead" class="site-header">
        <div class="site-branding">
            <h1 class="site-title"><a href="/" rel="home" style="font-family: Yoon; color: black">소금왕자의 솔티데이트</a></h1>
        </div>
        <nav id="site-navigation" class="main-navigation">
            <div class="menu-menu-1-container">
                <ul id="menu-menu-1" class="menu" style="font-family: Yoon;">
                    <li><a href="/region" style="color: black">지역별</a></li>
                    <li><a href="/season" style="color: black" >계절별</a></li>
                    <li><a href="/in_out" style="color: black">실내/야외</a></li>
                    <li><a href="/age" style="color: black">연령별</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/save/dating" style="color: black">공유해요</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/members/login" style="color: black; font-size: medium">login</a> </li>
                    <li sec:authorize="isAuthenticated()"><a href="/members/logout" style="color: black; font-size: medium">logout</a> </li>
                    <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a href="/admin/page" style="color: black; font-size: medium">관리자페이지</a> </li>

                </ul>
            </div>
        </nav>
    </header>
</div>
</html>