@font-face {
    font-family:'Yoon';
    src:url('../fonts/온글잎 의청수 윤영체.txt');
    src:url('../fonts/온글잎 의청수 윤영체.txt') format('txt'),url('../fonts/온글잎 의청수 윤영체.png') format('png'),url('../fonts/Ownglyph_2022_UWY_Yoon_Yeong-Rg.ttf') format('truetype');
    font-weight:normal;
    font-style: normal;
}

.form{
    font-family: Yoon;
    padding-top: 5%;
    font-size: large;
}
.form-group>input{
    width: 600px;
}
.form-group{
    padding-left: 25%;
}
.form-button{
    text-align: center;
}
.dateTitle>input{
    width: 600px;
}
.dateAddress>input{
    width: 600px;
}
.dateContent>textarea{
    width: 800px;
    height: 600px;
}
.upload-form-hashtag>input{
    width: 600px;
}
.text-center2{
    padding-top: 3%;
    padding-left: 10%;
}
.btn-submit{
    font-size: x-large;
}
.fieldError{
    color: #bd2130;
    padding-left: 30%;
}
.error{
    color: royalblue;
}
.card{
    width: 300px; height: 300px;
}
.card-frame{
    padding: 0.8%;
}
.checkbox{
    padding-left: 46%;
    padding-top: 2%;
}