<!--<!DOCTYPE html>-->
<!--<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout layout:decorate="~{layouts/layout1}">-->


<!--<div layout:fragment="content" class="date-form" style="font-family: Yoon; padding: 5% 0%; font-size: large;">-->
<!--      <form action="/delete" method="post" name="deleteForm">-->
<!--                <div class="dating-form-text">-->
<!--                  <p><input type="text" style="width: 400px;" name="datingPassword" id="datingPassword" placeholder="비밀번호를 입력하세요"></p>-->
<!--                  <input type="hidden" name="deleteIdx" th:value="${datingDelete.datingIdx}">-->
<!--                  <input type="submit" value="글삭제">-->
<!--                </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->


<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>-->
<!--<script th:inline="javascript">-->

<!--  const dateDelete = () => {-->
<!--    // const pass = [[${dateDelete.datePassword}]];-->
<!--    // const inputPass = document.getElementById("datePassword").value;-->
<!--    // if (pass == inputPass) {-->
<!--        document.deleteForm.submit();-->
<!--      // location.href = "/delete"-->
<!--      alert("수정이 완료되었습니다!");-->
<!--    // } else {-->
<!--    //   alert("비밀번호가 일치하지 않습니다!");-->
<!--    // }-->
<!--  }-->
<!--</script>-->


<!--</html>-->

