<!DOCTYPE html>
<html lang="en-US" xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout layout:decorate="~{layouts/layout1}">


<div layout:fragment="content"  class="dating-form" style="font-family: Yoon; padding-top: 5%; font-size: large;">
    <form action="/dating" method="post" enctype="multipart/form-data" >
        <div class="container text-center">
            <div class="dating-form-text">
                <p class="datingTitle"><input style="width: 800px;" name="datingTitle" type="text" placeholder="데이트 제목을 입력해주세요!  ex) 책과 함께하는 서울광장"></p>
                <p class="datingAddress"><input style="width: 800px;" name="datingAddress" type="text" placeholder="주소를 입력해주세요!  ex) 중구 을지로 12"></p>
                <p class="datingContent"><textarea style="width: 800px; height: 500px;" name="datingContent" type="text" placeholder="데이트장소에 대해 설명해주세요!" ></textarea></p>
                <p class="datingFile"><input type="file" multiple="multiple"  name="file" accept="image/*onchange=" onchange="setDetailImage(event);"></p>
                <div class="imagesContainer" id="images_container"></div>

                <p><input style="width: 400px;" name="datingWriter" type="text" placeholder="작성자이름을 입력하세요"></p>
                <p><input style="width: 400px;" name="datingPassword" type="password" placeholder="비밀번호를 입력하세요"></p>
            </div>
        </div>
        <p style="text-align: center"><input type="submit" value="작성완료"></p>
    </form>
</div>
<script>
    function setDetailImage(event){
        for(const image of event.target.files){
            const reader = new FileReader();

            reader.onload = function(event){
                const img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                img.setAttribute("class", "col-lg-6");
                img.style.width = '300px';
                img.style.height = '300px';
                img.style.padding = '10px';
                document.querySelector("div#images_container").appendChild(img);
            };

            console.log(image);
            reader.readAsDataURL(image);
        }
    }
</script>
</html>