<!DOCTYPE html>
<html lang="en-US" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>소금왕자의 솔티데이트</title>
    <link rel='stylesheet' href='style.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/css/saveDate.css' type='text/css' media='all'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
<div id="page">
    <div class="container">
        <header id="masthead" class="site-header">
            <div class="site-branding">
                <h1 class="site-title"><a href="../" rel="home" style="font-family: Yoon">소금왕자의 솔티데이트</a></h1>
            </div>
            <nav id="site-navigation" class="main-navigation">
                <button class="menu-toggle">Menu</button>
                <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
                <div class="menu-menu-1-container">
                    <ul id="menu-menu-1" class="menu" style="font-family: Yoon">
                        <li><a href="region">지역별</a></li>
                        <li><a href="season">계절별</a></li>
                        <li><a href="in_out">실내/야외</a></li>
                        <li><a href="age">연령별</a></li>
                        <li><a href="share">공유해요</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="dating-form" style="font-family: Yoon; padding: 5% 0%; font-size: large;">
            <form action="/dating" method="post" enctype="multipart/form-data" >
                <div class="container text-center">
<!--                    <div class="row g-2">-->
<!--                        <div class="col-md-8">-->
<!--                            <div class="p-1">-->
                    <div class="dating-form-text">
                        <p class="datingTitle"><input style="width: 800px;" name="datingTitle" type="text" placeholder="데이트 제목을 입력해주세요!  ex) 책과 함께하는 서울광장"></p>
                        <p class="datingAddress"><input style="width: 800px;" name="datingAddress" type="text" placeholder="주소를 입력해주세요!  ex) 중구 을지로 12"></p>
                        <p class="datingContent"><textarea style="width: 800px; height: 500px;" name="datingContent" type="text" placeholder="데이트장소에 대해 설명해주세요!" ></textarea></p>
                        <p class="datingFile"><input type="file" multiple="multiple"  name="file" accept="image/*onchange=" onchange="setDetailImage(event);"></p>
                        <div class="imagesContainer" id="images_container"></div>

                        <p><input style="width: 400px;" name="datingWriter" type="text" placeholder="작성자이름을 입력하세요"></p>
                        <p><input style="width: 400px;" name="datingPassword" type="password" placeholder="비밀번호를 입력하세요"></p>
                    </div>
<!--                                <p>대표이미지를 선택해주세요</p>-->
<!--                                <p><input type="file" id="thumb" name="thumb" accept="image/*" onchange="setThumbnail(event);"></p>-->
<!--                                <div class="thumbContainer" id="thumb_container"></div>-->
<!--                            </div>-->
<!--                        </div>-->
                </div>
                <p style="text-align: center"><input type="submit" value="작성완료"></p>
            </form>
        </div>
    </div>
    <footer id="colophon" class="site-footer" style="width: 100%">
        <div class="site-info">
            <h1 style="font-family: Yoon;color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Salty Date</h1>
            <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">Contact us | aaa@aaaa.aaa</a>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script>
    function setDetailImage(event){
        for(const image of event.target.files){
            const reader = new FileReader();

            reader.onload = function(event){
                const img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                img.setAttribute("class", "col-lg-6");
                img.style.width = '300px';
                img.style.height = '300px';
                img.style.padding = '10px';
                document.querySelector("div#images_container").appendChild(img);
            };

            console.log(image);
            reader.readAsDataURL(image);
        }
    }
</script>

<!--<script>-->
<!--    function setThumbnail(event) {-->
<!--        const reader = new FileReader();-->

<!--        reader.onload = function(event) {-->
<!--            const img = document.createElement("img");-->
<!--            img.setAttribute("src", event.target.result);-->
<!--            img.style.width = '300px';-->
<!--            img.style.height = '300px';-->
<!--            document.querySelector("div#thumb_container").appendChild(img);-->
<!--        };-->
<!--        reader.readAsDataURL(event.target.files[0]);-->
<!--    }-->
<!--</script>-->
</body>
</html>