<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout layout:decorate="~{layouts/layout1}">


  <div layout:fragment="content" class="dating-form" style="font-family: Yoon; padding: 5% 0%; font-size: large;">
      <form action="/update" method="post" name="updateForm">
        <input type="hidden" name="id" th:value="${updateDating.datingIdx}">
        <div class="container text-center">
          <div class="row g-2">
            <div class="col-md-8">
              <div class="p-1">
                <div class="dating-form-text">
                  <p class="datingTitle"><input type="text" style="width: 800px;" name="datingTitle" th:value="${updateDating.datingTitle}"></p>
                  <p class="datingAddress"><input style="width: 800px;" name="datingAddress" type="text" th:value="${updateDating.datingAddress}"></p>
                  <p class="datingContent"><textarea name="datingContent" style="width: 800px; height: 500px;" th:text="${updateDating.datingContent}"></textarea></p>
                  <!-- 해시 태그 -->
                  <p class="upload-form-hashtag" >
                    <input style="width: 740px;" type="text" placeholder="해시태그를 추가해보세요!" id="hashtag" name="hashtag">
                    <button class="addTag" type="button" onclick="addHashtag()">추가</button></p>
                  <!-- 추가한 해시 태그 리스트 -->
                  <div class="hashtagList" id="hashtagList"></div>
                  <!-- 해시 태그 end -->
                  <p><input type="text" style="width: 400px;" name="datingWriter" th:value="${updateDating.datingWriter}" readonly placeholder="이름을 입력하세요"></p>
                  <p><input type="text" style="width: 400px;" name="datingPassword" id="datingPassword" placeholder="비밀번호를 입력하세요"></p>
                </div>
              </div>
              <div class="dating-form-text2"></div>
            </div>
            <div class="col-md-2">
              <div class="p-1">
                <p>대표이미지를 선택해주세요</p>
                <p><input type="file" id="thumb" name="file" accept="image/*" onchange="setThumbnail(event);"></p>
                <div class="thumbContainer" id="thumb_container"></div>
                <!-- 대표이미지 -->
                <script>
                  function setThumbnail(event) {
                    const reader = new FileReader();

                    reader.onload = function(event) {
                      const img = document.createElement("img");
                      img.setAttribute("src", event.target.result);
                      img.style.width = '300px';
                      img.style.height = '300px';
                      document.querySelector("div#thumb_container").appendChild(img);
                    };

                    reader.readAsDataURL(event.target.files[0]);
                  }
                </script>
                <!-- 대표이미지 end -->
              </div>
            </div>
          </div>
        </div>
        <div class="container text-center2">
          <div class="btn-submit">
            <input type="button" value="글수정" onclick="datingUpdate()">
            <input type="button" value="글삭제" onclick="datingDelete()">
          </div>
        </div>
      </form>
    </div>
  </div>


<script th:inline="javascript">
  const datingUpdate = () => {
    const pass = [[${updateDating.datingPassword}]];
    const inputPass = document.getElementById("datingPassword").value;
    if (pass == inputPass) {
      document.updateForm.submit();
      alert("수정이 완료되었습니다!");
    } else {
      alert("비밀번호가 일치하지 않습니다!");
    }
  }

</script>


</html>

